.idea/
*.iml
.disks

aws/cluster-autoscaler-policy.json
aws/cluster-autoscaler-autodiscover.yaml
aws/cluster.yaml

aws/camunda-values.yaml
azure/camunda-values.yaml
azure/ingress-azure.yaml
google/camunda-values.yaml

